version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis


  backend:
    build: .
    container_name: url-shorty-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - redis
